/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Estilos para o cabeçalho */
header {
    background-color: #1f1717;
    color: #fff;
    padding: 20px 0;
}

.logo img {
    height: 70px;
    width: auto;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: -60px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Estilos para a seção hero */
.hero {
    padding: 100px 0;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    color: #555;
}

.hero img {
    max-width: 100%;
    height: auto;
}

/* Estilos para a seção de serviços */
.servico {
    background-color: #fff;
    padding: 100px 0;
}

.servico h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.servico p {
    font-size: 18px;
    color: #555;
}

.servico img {
    max-width: 100%;
    height: auto;
}

.servico,
.sobre-nos {
    padding: 40px 0;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.stars {
    margin-bottom: 10px;
}

.stars img {
    width: 20px;
    vertical-align: middle;
}

.depoimento {
    background-color: #f9f9f9;
    padding: 40px 0;
}

.sobre-nos {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.sobre-nos h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

.sobre-nos p {
    color: #555;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.container-form {
    margin-top: 50px; /* Adiciona um espaçamento superior */
}

.form-title {
    text-align: center;
    margin-bottom: 30px;
}

.form-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
    border-color: #0056b3; /* Cor da borda do botão ao passar o mouse */
}

#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#login-form h2 {
    margin-bottom: 20px;
    color: #010101;
}

/* Estilos para o rodapé */
footer {
    background-color: #212529;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 50px;
}

footer p {
    margin-bottom: 10px;
}

/* Estilos para o botão de voltar ao topo */
#btn-voltar-topo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}

#btn-voltar-topo:hover {
    background-color: #008000;
    color:#fff;
    
}

.btn-faca-sua-cotacao {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-faca-sua-cotacao:hover {
    background-color: #008000;
    color:#fff;
}
